<!--
----    File: _LogOnPartial.cshtml
----    Created By: Daniele Agueci
----    Description: A partial view representing the toolbar at the top of the webpage. This view is present in every page that the user navigates.
-->

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            @if (Request.IsAuthenticated)
            {
                <a class="navbar-brand" href="@Url.Action("User", "Home")">Project name</a>
            }
            else
            {
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Project name</a>
            }
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                @if(Request.IsAuthenticated) 
                {
                    <text>Welcome <strong>@User.Identity.Name</strong>!
                    @Html.ActionLink("Log Off", "LogOff", "Account", null, new { @class = "btn btn-success", @style = "text-decoration:none" }) </text>
                }
                else 
                {
                    @: @Html.ActionLink("Login", "LogOn", "Account", null, new { @class = "btn btn-success", @style = "text-decoration:none" })
                    @: @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-success", @style = "text-decoration:none" })
                }
            </form>
        </div>
    </div>
</div>